/* //randomNumber, displayMessage, winCounter, lossCounter, gemOne, gemTwo, gemThree, gemFour, totalScore
 */

body {
    background: url("https://img.wallpapersafari.com/desktop/1680/1050/60/58/1S9nJc.jpg")
}

.navbar-brand {
    background-color: skyblue;
    padding: 20px;
    font-size: 40px;
}

.section {
    padding: 15px;
    font-size: 25px;
    margin-bottom: 25px;
}

#rowOne {
    margin-top: 20px;
    margin-bottom: 20px;
}

#randomNumber {
    padding: 10px;
}

.col-md-4 {
    font-size: 20px;
}

.col-md-3 {
    font-size: 20px;
}

#gemOne {
    background-color: rgba(255, 255, 255, 0.719);
    padding: 10px;
}

#gemTwo {
    background-color: rgba(255, 255, 255, 0.719);
    padding: 10px;
}

#gemThree {
    background-color: rgba(255, 255, 255, 0.719);
    padding: 10px;
}

#gemFour {
    background-color: rgba(255, 255, 255, 0.719);
    padding: 10px;
}